<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>

  <vendor>rj-aux</vendor>
  <vendor_url>https://github.com/sunowsir/rj-aux</vendor_url>
  <icon_name>rj-aux</icon_name>

  <action id="org.rj-aux.campus-network.login">
    <!-- <message>To use campus network, you need to authenticate.</message> -->
    <!-- <message xml:lang="zh_CN">要使用校园网,您需要验证</message> -->
    <message>运行锐捷校园网程序需要管理员权限</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key = "org.freedesktop.policykit.exec.path">/opt/rjsupplicant-aux/rjsupplicant</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

</policyconfig>
